page {
    font-size: 24rpx;
}
.container {
    box-sizing: border-box;
    padding: 0 24rpx;
}
.item {
    border-bottom: 1px solid #ccc;
    font-size: 28rpx;
    display: flex;
    line-height: 80rpx;
    box-sizing: border-box;
}
.item .title {
    flex: 4;
}
.item input {
    flex: 8;
    height: 80rpx;
}
/* 按钮 */
.btn {
    margin-top:100rpx;
    text-align: center;
}
.btn button {
    width: 40%;
    background: #E45B24;
    color: #fff;
}
.btn button::after {
    display: none;
}
